.animate-delay-75 {
  animation-delay: 75ms;
}

.animate-delay-150 {
  animation-delay: 150ms;
}

.animate-delay-225 {
  animation-delay: 225ms;
}

.animate-delay-300 {
  animation-delay: 300ms;
}

.animate-delay-375 {
  animation-delay: 375ms;
}

.animate-delay-450 {
  animation-delay: 450ms;
}

.animate-delay-525 {
  animation-delay: 525ms;
}

.animate-delay-600 {
  animation-delay: 600ms;
}

.animate-delay-675 {
  animation-delay: 675ms;
}

.animate-delay-750 {
  animation-delay: 750ms;
}

.animate-delay-825 {
  animation-delay: 825ms;
}

.animate-delay-900 {
  animation-delay: 900ms;
}

.animate-delay-975 {
  animation-delay: 975ms;
}

.animate-delay-1050 {
  animation-delay: 1050ms;
}

.animate-delay-1125 {
  animation-delay: 1125ms;
}

.animate-delay-1200 {
  animation-delay: 1200ms;
}

.animate-delay-1275 {
  animation-delay: 1275ms;
}

.animate-delay-1350 {
  animation-delay: 1350ms;
}

.animate-delay-1425 {
  animation-delay: 1425ms;
}

.animate-delay-1500 {
  animation-delay: 1500ms;
}

.animate-delay-1575 {
  animation-delay: 1575ms;
}

.animate-delay-1650 {
  animation-delay: 1650ms;
}

.animate-delay-1725 {
  animation-delay: 1725ms;
}

.animate-delay-1800 {
  animation-delay: 1800ms;
}

.animate-delay-1875 {
  animation-delay: 1875ms;
}

.animate-delay-1950 {
  animation-delay: 1950ms;
}

.animate-delay-2025 {
  animation-delay: 2025ms;
}

.animate-delay-2100 {
  animation-delay: 2100ms;
}

.animate-delay-2175 {
  animation-delay: 2175ms;
}

.animate-delay-2250 {
  animation-delay: 2250ms;
}

.animate-delay-2325 {
  animation-delay: 2325ms;
}

.animate-delay-2400 {
  animation-delay: 2400ms;
}

.animate-delay-2475 {
  animation-delay: 2475ms;
}

.animate-delay-2550 {
  animation-delay: 2550ms;
}

.animate-delay-2625 {
  animation-delay: 2625ms;
}

.animate-delay-2700 {
  animation-delay: 2700ms;
}

.animate-delay-2775 {
  animation-delay: 2775ms;
}

.animate-delay-2850 {
  animation-delay: 2850ms;
}

.animate-delay-2925 {
  animation-delay: 2925ms;
}

.animate-delay-3000 {
  animation-delay: 3000ms;
}