@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    height: 100%;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
    z-index: 0 !important;
}

/* Anchura y color del scrollbar */
*::-webkit-scrollbar {
    height: 4px;

    /* Ajusta este valor para cambiar la anchura */
    background-color: #f1f1f1;
    /* Cambia este valor para cambiar el color de fondo */
}

/* Estilo del thumb (barra de desplazamiento) */
*::-webkit-scrollbar-thumb {
    background-color: #cacaca;
    /* Cambia este valor para cambiar el color del thumb */
    border-radius: 4px;
    /* Ajusta este valor para cambiar el redondeado del thumb */
}

/* Estilo del thumb al pasar el mouse por encima */
*::-webkit-scrollbar-thumb:hover {
    background-color: #aaaaaa;
    /* Cambia este valor para cambiar el color del thumb al pasar el mouse */
}

/* Estilo de la barra de track */
*::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Cambia este valor para cambiar el color de la barra de track */
}